.author {
  margin-top: 0.8rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.author__btn {
  color: grey;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid grey;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  height: 2rem;
  cursor: pointer;
}

.author__btn:hover {
  transition: 500ms;
  color: #121212;
  background: grey;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid white;
  border-radius: 0.5rem;
}
