.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#correct {
  background-color: #528d4e;
  transition: var(--transition);
}

#almost {
  background-color: #b49f39;
  transition: var(--transition);
}

#error {
  background-color: #514f54;
  transition: var(--transition);
}

/* -- SMALL DEVICES -- */
@media screen and (max-width: 420px) {
  .letter {
    font-size: 1.5rem;
  }
}
