:root {
  --color-correct: #528d4e;
  --color-almost: #b49f39;
  --color-error: #514f54;
  --color-disabled: #3a393c;
  --color-primary: #4db5ff;

  --transition: all 700ms ease;
}

.App {
  text-align: center;
  background-color: #121212;
  height: 100vh;
  color: white;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0%;
  margin: 0;
}

.game {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  flex-direction: column;
}
