.key {
  width: 3rem;
  margin: 0.16rem;
  font-size: 1.3rem;
  height: 3rem;
  border-radius: 0.3rem;
  display: grid;
  place-items: center;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 6rem;
}

#disabled {
  background-color: #3a393c;
}

/* -- SMALL DEVICES -- */
@media screen and (max-width: 1200px) {

}

/* -- SMALL DEVICES -- */
@media screen and (max-width: 420px) {
  .key {
    width: 3rem;
    margin: 0.16rem;
    font-size: 1.3rem;
  }

  #big {
    width: 6rem;
    font-size: 1rem;
  }
}
