nav {
  height: 4rem;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1 {
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: normal;
  color: white;
  font-size: 2.5rem;
}

nav a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: normal;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  background: transparent;
  border: none;
}

.nav__logo-author {
  width: 2.5rem;
  height: 2rem;
  left: 1rem;
}

.nav__logo-github {
  right: 1rem;
  filter: invert(96%) sepia(37%) saturate(2%) hue-rotate(267deg)
    brightness(103%) contrast(101%);
}

img.logo__author {
  width: 2.8rem;
  height: 2rem;
}

img.logo__github {
  width: 2.3rem;
  margin-top: 0.35rem;
}
